body,html{
    margin: 0px;
    padding: 0px;

}
/* ----------navigation bar---------- */


#navi{
    margin: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
    height: 50px;
    /* display:flex; */

}

/* --------buttons------------ */


#navi #show{
    height: 25px;
    width: 80px;
    margin: 5px;
    margin-top: 20px;
    padding: 0px;
    border-radius: 4px;
    background-color: #c2c1c1;
    /* flex-direction:row-reverse;
    justify-content: space-between;
    align-content: flex-end; */
    float: right;
    text-align: center;

}

#navi #show a {
    text-decoration:none;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

#navi #show:hover{
    background-color: rgba(194, 193, 193,0.8);
}



/* ------------main containt ----------*/

#main{
    background: linear-gradient(to right, #373b44, #4286f4);
    height: 612px;
    margin: 10px;
    border-radius: 4px;
}

#content{
    position: absolute;
    top: 200px;
    left: 50px;
}
  


#main #content #spm{
    text-transform: capitalize;
    font-family: cursive;
    font-size: 100px;
    color: whitesmoke;


}

#main #content .sp1{
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color: whitesmoke;

}


/* ------------list div----------------- */
#main #list{
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: 200px;
    overflow: auto;
    right: 150px;
    height: 450px;
}

#main #list #int{
    border-radius: 4px;
    height: 32px;
    width: 300px;
    text-transform: capitalize;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    



}
#main #list #bt{
    border-radius: 4px;
    height: 40px;
    width: 80px;

    


}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 25px;
}


